name: CD to AWS CodeDeploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Create deployment package
        run: |
          zip -r deploy.zip . -x "*.git*" -x "*.github/*" -x "node_modules/*"

      - name: Upload ZIP to S3
        run: |
          aws s3 cp deploy.zip s3://mi-app-deploy-bucket-danaebarba/releases/deploy.zip

      - name: Deploy to CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name mi-app-danae \
            --deployment-group-name mi-app-danae-group \
            --s3-location bucket=mi-app-deploy-bucket-danaebarba,bundleType=zip,key=releases/deploy.zip \
            --deployment-config-name CodeDeployDefault.OneAtATime \
            --description "Deployment from GitHub Actions"
